$font-family--base: "Inter", sans-serif;
$font-family--mono: "Azeret Mono", monospace;

$color--white: #FFFFFF;
$color--black: #222222;

$color--ui-03: rgba(255, 255, 255, 0.03);
$color--ui-20: rgba(255, 255, 255, 0.2);
$color--ui-40: rgba(255, 255, 255, 0.4);
$color--ui-70: rgba(255, 255, 255, 0.7);