@use '../../styles/variables.scss' as v;

.converter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__window {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 30px;
    border-radius: 20px;
    background-color: v.$color--black;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    &>span {
      font-family: v.$font-family--mono;
      font-size: 1.875rem;
      font-weight: 400;
      color: v.$color--ui-40;
    }
  }

  &__control {
    position: relative;
    width: 100%;
  }

  &__control-head {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid v.$color--ui-20;
  }

  &__input {
    width: 100%;
    font-family: v.$font-family--mono;
    font-weight: 500;
    font-size: 0.875rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: v.$color--ui-70;
    text-align: end;
  }

  &__select {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: v.$color--ui-03;
    border-radius: 8px;
  }

  &__options {
    display: none;
  }

  &__stat {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    gap: 30px 15px;
  }

  &__stat-values {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style-type: none;
  }

  &__stat-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  &__stat-dates, &__stat-values {
    font-family: v.$font-family--mono;
    font-size: 0.5rem;
    color: v.$color--ui-40;
  }

  &__bottom-text {
    align-self: flex-end;
    font-size: 0.75rem;
    padding: 0 30px;
  }
}